body {
    background-image: url("../img/Studio\ la\ Vita\ Libere.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

.imgtitulo {
    width: 516px;
    height: 598;
    width: 586;

}

.bottones{
    text-align: center;
}

.buttonSobre{    
    background-color: rgba(233, 208, 177, 0.705);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 black;
    max-width: 1000px;
    position: relative;
    height: 500px;
    left: 500px;
}